@import "tailwindcss";

@theme {
  --color-brand-400: #ff3c14;
  --color-brand-500: #d62800;
  --color-brand-600: #a31e00;
  --color-brand-900: #4a0e00;
  --font-display: 'Lexend', sans-serif;
  --font-body: 'Lexend', sans-serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6, .font-display {
  font-family: var(--font-display);
}
